<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Calcular média simples</h1>
            <div class="mb-3">
                <label for="nota1" class="form-label">Nota 1</label>
                <input type="number" class="form-control" id="nota1" name="nota1" [(ngModel)]="nota1">
            </div>
            <div class="mb-3">
                <label for="nota2" class="form-label">Nota 2</label>
                <input type="number" class="form-control" id="nota2" name="nota2" [(ngModel)]="nota2">
            </div>
            <button class="btn btn-primary" (click)="calcularMedia()">Calcular</button>
            <div class="mb-3">
                <label for="media" class="form-label">Média</label>
                <input type="number" class="form-control" id="media" name="media" [(ngModel)]="media" disabled="true">
            </div>
            <!-- EXEMPLO UTILIZANDO NGIF-->
            <div *ngIf="media >= 6" class="alert alert-success" role="alert">
                Você está APROVADO!
            </div>
            <div *ngIf="media < 6" class="alert alert-danger" role="alert">
                Você está REPROVADO!
            </div>
             <!-- EXEMPLO UTILIZANDO NGCLASS-->
             <div class="alert" [ngClass]="{'alert-danger': media < 6, 'alert-success' : media >= 6}" role="alert">
               {{media== undefined ? '' :  media >= 6 ? 'Você está APROVADO!' : 'Você está REPROVADO!'}}
            </div>
        </div>
    </div>
</div>